* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lavenderblush;
}
@keyframes animacao-teia {
    from{
        position: relative;
        top: 0;
        box-shadow:

        /*Sentido Aranha - Peter*/
        14rem -1rem white,
        14rem -2rem white,
        14rem -3rem white,
        14rem -4rem white,
        14rem -5rem white,
        14rem -6rem white,
        14rem -7rem white,
        14rem -8rem white,
        14rem -9rem white,
        14rem -10rem white,
    
        7rem 28rem lavenderblush,
        6rem 29rem lavenderblush,
        5rem 30rem lavenderblush,
        6rem 24rem lavenderblush,
        5rem 25rem lavenderblush,
        4rem 24rem lavenderblush,
        3rem 25rem lavenderblush,
        6rem 20rem lavenderblush,
        5rem 21rem lavenderblush,
        4rem 20rem lavenderblush,
        3rem 21rem lavenderblush,
        6rem 17rem lavenderblush,
        5rem 16rem lavenderblush,
        4rem 17rem lavenderblush,
        3rem 16rem lavenderblush,
            
        21rem 28rem lavenderblush,
        22rem 29rem lavenderblush,
        23rem 30rem lavenderblush,
        22rem 24rem lavenderblush,
        25rem 25rem lavenderblush,
        24rem 24rem lavenderblush,
        23rem 25rem lavenderblush,
        22rem 20rem lavenderblush,
        25rem 21rem lavenderblush,
        24rem 20rem lavenderblush,
        23rem 21rem lavenderblush,
        22rem 17rem lavenderblush,
        25rem 16rem lavenderblush,
        24rem 17rem lavenderblush,
        23rem 16rem lavenderblush,

        /*Sentido Aranha - Miles*/

        44rem -1rem white,
        44rem -2rem white,
        44rem -3rem white,
        44rem -4rem white,
        44rem -5rem white,
        44rem -6rem white,
        44rem -7rem white,
        44rem -8rem white,
        44rem -9rem white,
        44rem -10rem white,
    
        37rem 28rem lavenderblush,
        36rem 29rem lavenderblush,
        35rem 30rem lavenderblush,
        36rem 24rem lavenderblush,
        35rem 25rem lavenderblush,
        34rem 24rem lavenderblush,
        33rem 25rem lavenderblush,
        36rem 20rem lavenderblush,
        35rem 21rem lavenderblush,
        34rem 20rem lavenderblush,
        33rem 21rem lavenderblush,
        36rem 17rem lavenderblush,
        35rem 16rem lavenderblush,
        34rem 17rem lavenderblush,
        33rem 16rem lavenderblush,
            
        51rem 28rem lavenderblush,
        52rem 29rem lavenderblush,
        53rem 30rem lavenderblush,
        52rem 24rem lavenderblush,
        55rem 25rem lavenderblush,
        54rem 24rem lavenderblush,
        53rem 25rem lavenderblush,
        52rem 20rem lavenderblush,
        55rem 21rem lavenderblush,
        54rem 20rem lavenderblush,
        53rem 21rem lavenderblush,
        52rem 17rem lavenderblush,
        55rem 16rem lavenderblush,
        54rem 17rem lavenderblush,
        53rem 16rem lavenderblush,

        /*Peter Parker*/
        13rem 0rem black,
        14rem 0rem white,
        15rem 0rem black,
            
        12rem 1rem black,
        13rem 1rem #FC1919,
        14rem 1rem white,
        15rem 1rem #FC1919,
        16rem 1rem black,
        
        11rem 2rem black,
        12rem 2rem #FC1919,
        13rem 2rem #FC1919,
        14rem 2rem white,
        15rem 2rem #FC1919,
        16rem 2rem #FC1919,
        17rem 2rem black,
    
        10rem 3rem black,
        11rem 3rem #FC1919,
        12rem 3rem #FC1919,
        13rem 3rem #FC1919,
        14rem 3rem white,
        15rem 3rem #FC1919,
        16rem 3rem #FC1919,
        17rem 3rem #FC1919,
        18rem 3rem black,
    
        8rem 4rem black,
        9rem 4rem black,
        10rem 4rem #FC1919,
        11rem 4rem #FC1919,
        12rem 4rem #FC1919,
        13rem 4rem #FC1919,
        14rem 4rem white,
        15rem 4rem #FC1919,
        16rem 4rem #FC1919,
        17rem 4rem #FC1919,
        18rem 4rem #FC1919,
        19rem 4rem black,
        20rem 4rem black,
    
        7rem 5rem black,
        8rem 5rem #1F51A6,
        9rem 5rem #FC1919,
        10rem 5rem #FC1919,
        11rem 5rem #FC1919,
        12rem 5rem black,
        13rem 5rem black,
        14rem 5rem white,
        15rem 5rem black,
        16rem 5rem black,
        17rem 5rem #FC1919,
        18rem 5rem #FC1919,
        19rem 5rem #FC1919,
        20rem 5rem #1F51A6,
        21rem 5rem black,
    
        6rem 6rem black,
        7rem 6rem #1F51A6,
        8rem 6rem #1F51A6,
        9rem 6rem #1F51A6,
        10rem 6rem #FC1919,
        11rem 6rem black,
        12rem 6rem #1F51A6,
        13rem 6rem #1F51A6,
        14rem 6rem white,
        15rem 6rem #1F51A6,
        16rem 6rem #1F51A6,
        17rem 6rem black,
        18rem 6rem #FC1919,
        19rem 6rem #1F51A6,
        20rem 6rem #1F51A6,
        21rem 6rem #1F51A6,
        22rem 6rem black,
        
        5rem 7rem black,
        6rem 7rem #1F51A6,
        7rem 7rem #1F51A6,
        8rem 7rem #1F51A6,
        9rem 7rem #1F51A6,
        10rem 7rem black,
        11rem 7rem black,
        12rem 7rem black,
        13rem 7rem white,
        14rem 7rem white,
        15rem 7rem white,
        16rem 7rem black,
        17rem 7rem black,
        18rem 7rem black,
        19rem 7rem #1F51A6,
        20rem 7rem #1F51A6,
        21rem 7rem #1F51A6,
        22rem 7rem #1F51A6,
        23rem 7rem black,
    
        5rem 8rem black,
        6rem 8rem #1F51A6,
        7rem 8rem #1F51A6,
        8rem 8rem #1F51A6,
        9rem 8rem black,
        10rem 8rem #FC1919,
        11rem 8rem #FC1919,
        12rem 8rem #FC1919,
        13rem 8rem black,
        14rem 8rem white,
        15rem 8rem black,
        16rem 8rem #FC1919,
        17rem 8rem #FC1919,
        18rem 8rem #FC1919,
        19rem 8rem #1F51A6,
        20rem 8rem #1F51A6,
        21rem 8rem #1F51A6,
        22rem 8rem #1F51A6,
        23rem 8rem black,
    
        6rem 9rem black,
        7rem 9rem black,
        8rem 9rem black,
        9rem 9rem #FC1919,
        10rem 9rem #FC1919,
        11rem 9rem #FC1919,
        12rem 9rem #FC1919,
        13rem 9rem black,
        14rem 9rem #FC1919,
        15rem 9rem black,
        16rem 9rem #FC1919,
        17rem 9rem #FC1919,
        18rem 9rem #FC1919,
        19rem 9rem #FC1919,
        20rem 9rem black,
        21rem 9rem black,
        22rem 9rem black,
    
        8rem 10rem black,
        9rem 10rem #FC1919,
        10rem 10rem #FC1919,
        11rem 10rem #1F51A6,
        12rem 10rem black,
        13rem 10rem #FC1919,
        14rem 10rem #FC1919,
        15rem 10rem #FC1919,
        16rem 10rem black,
        17rem 10rem #1F51A6,
        18rem 10rem #FC1919,
        19rem 10rem #FC1919,
        20rem 10rem black,
        
        7rem 11rem black,
        8rem 11rem #FC1919,
        9rem 11rem #FC1919,
        10rem 11rem #1F51A6,
        11rem 11rem black,
        12rem 11rem #1F51A6,
        13rem 11rem #FC1919,
        14rem 11rem #FC1919,
        15rem 11rem #FC1919,
        16rem 11rem #1F51A6,
        17rem 11rem black,
        18rem 11rem #1F51A6,
        19rem 11rem #FC1919,
        20rem 11rem #FC1919,
        21rem 11rem black,
    
        7rem 12rem black,
        8rem 12rem #FC1919,
        9rem 12rem #FC1919,
        10rem 12rem black,
        11rem 12rem #1F51A6,
        12rem 12rem #FC1919,
        13rem 12rem #FC1919,
        14rem 12rem black,
        15rem 12rem #FC1919,
        16rem 12rem #FC1919,
        17rem 12rem #1F51A6,
        18rem 12rem black,
        19rem 12rem #FC1919,
        20rem 12rem #FC1919,
        21rem 12rem black,
    
        8rem 13rem black,
        9rem 13rem #FC1919,
        10rem 13rem #FC1919,
        11rem 13rem #FC1919,
        12rem 13rem #FC1919,
        13rem 13rem #FC1919,
        14rem 13rem #FC1919,
        15rem 13rem #FC1919,
        16rem 13rem #FC1919,
        17rem 13rem #FC1919,
        18rem 13rem #FC1919,
        19rem 13rem #FC1919,
        20rem 13rem black,
    
        9rem 14rem black,
        10rem 14rem black,
        11rem 14rem #FC1919,
        12rem 14rem #FC1919,
        13rem 14rem black,
        14rem 14rem black,
        15rem 14rem black,
        16rem 14rem #FC1919,
        17rem 14rem #FC1919,
        18rem 14rem black,
        19rem 14rem black,
    
        11rem 15rem black,
        12rem 15rem black,
        13rem 15rem #FC1919,
        14rem 15rem #FC1919,
        15rem 15rem #FC1919,
        16rem 15rem black,
        17rem 15rem black,
    
        10rem 16rem black,
        11rem 16rem #FC1919,
        12rem 16rem #FC1919,
        13rem 16rem #FC1919,
        14rem 16rem #FC1919,
        15rem 16rem #FC1919,
        16rem 16rem #FC1919,
        17rem 16rem #FC1919,
        18rem 16rem black,
    
        9rem 17rem black,
        10rem 17rem #FC1919,
        11rem 17rem #FC1919,
        12rem 17rem #FC1919,
        13rem 17rem #FC1919,
        14rem 17rem #FC1919,
        15rem 17rem #FC1919,
        16rem 17rem #FC1919,
        17rem 17rem #FC1919,
        18rem 17rem #FC1919,
        19rem 17rem black,
    
        8rem 18rem black,
        9rem 18rem #FC1919,
        10rem 18rem #FC1919,
        11rem 18rem #FC1919,
        12rem 18rem #FC1919,
        13rem 18rem #FC1919,
        14rem 18rem #FC1919,
        15rem 18rem #FC1919,
        16rem 18rem #FC1919,
        17rem 18rem #FC1919,
        18rem 18rem #FC1919,
        19rem 18rem #FC1919,
        20rem 18rem black,
    
        8rem 19rem black,
        9rem 19rem #FC1919,
        10rem 19rem #FC1919,
        11rem 19rem black,
        12rem 19rem black,
        13rem 19rem #FC1919,
        14rem 19rem #FC1919,
        15rem 19rem #FC1919,
        16rem 19rem black,
        17rem 19rem black,
        18rem 19rem #FC1919,
        19rem 19rem #FC1919,
        20rem 19rem black,
        
        8rem 20rem black,
        9rem 20rem #FC1919,
        10rem 20rem black,
        11rem 20rem white,
        12rem 20rem white,
        13rem 20rem black,
        14rem 20rem #FC1919,
        15rem 20rem black,
        16rem 20rem white,
        17rem 20rem white,
        18rem 20rem black,
        19rem 20rem #FC1919,
        20rem 20rem black,
        
        8rem 21rem black,
        9rem 21rem #FC1919,
        10rem 21rem black,
        11rem 21rem white,
        12rem 21rem black,
        13rem 21rem #FC1919,
        14rem 21rem #FC1919,
        15rem 21rem #FC1919,
        16rem 21rem black,
        17rem 21rem white,
        18rem 21rem black,
        19rem 21rem #FC1919,
        20rem 21rem black,
        
        8rem 22rem black,
        9rem 22rem #FC1919,
        10rem 22rem black,
        11rem 22rem black,
        12rem 22rem #FC1919,
        13rem 22rem #FC1919,
        14rem 22rem #FC1919,
        15rem 22rem #FC1919,
        16rem 22rem #FC1919,
        17rem 22rem black,
        18rem 22rem black,
        19rem 22rem #FC1919,
        20rem 22rem black,
        
        8rem 23rem black,
        9rem 23rem #FC1919,
        10rem 23rem black,
        11rem 23rem #FC1919,
        12rem 23rem #FC1919,
        13rem 23rem #FC1919,
        14rem 23rem #FC1919,
        15rem 23rem #FC1919,
        16rem 23rem #FC1919,
        17rem 23rem #FC1919,
        18rem 23rem black,
        19rem 23rem #FC1919,
        20rem 23rem black,
        
        8rem 24rem black,
        9rem 24rem #FC1919,
        10rem 24rem #FC1919,
        11rem 24rem #FC1919,
        12rem 24rem #FC1919,
        13rem 24rem #FC1919,
        14rem 24rem #FC1919,
        15rem 24rem #FC1919,
        16rem 24rem #FC1919,
        17rem 24rem #FC1919,
        18rem 24rem #FC1919,
        19rem 24rem #FC1919,
        20rem 24rem black,
        
        8rem 25rem black,
        9rem 25rem #FC1919,
        10rem 25rem #FC1919,
        11rem 25rem #FC1919,
        12rem 25rem #FC1919,
        13rem 25rem #FC1919,
        14rem 25rem #FC1919,
        15rem 25rem #FC1919,
        16rem 25rem #FC1919,
        17rem 25rem #FC1919,
        18rem 25rem #FC1919,
        19rem 25rem #FC1919,
        20rem 25rem black,
    
        9rem 26rem black,
        10rem 26rem #FC1919,
        11rem 26rem #FC1919,
        12rem 26rem #FC1919,
        13rem 26rem #FC1919,
        14rem 26rem #FC1919,
        15rem 26rem #FC1919,
        16rem 26rem #FC1919,
        17rem 26rem #FC1919,
        18rem 26rem #FC1919,
        19rem 26rem black,
    
        10rem 27rem black,
        11rem 27rem black,
        12rem 27rem #FC1919,
        13rem 27rem #FC1919,
        14rem 27rem #FC1919,
        15rem 27rem #FC1919,
        16rem 27rem #FC1919,
        17rem 27rem black,
        18rem 27rem black,
    
        12rem 28rem black,
        13rem 28rem black,
        14rem 28rem black,
        15rem 28rem black,
        16rem 28rem black,
    
        /*Miles Morales*/

        43rem 0rem #B90F18,
        44rem 0rem white,
        45rem 0rem #B90F18,
            
        42rem 1rem #B90F18,
        43rem 1rem #B90F18,
        44rem 1rem white,
        45rem 1rem #B90F18,
        46rem 1rem #B90F18,
        
        41rem 2rem #B90F18,
        42rem 2rem #1D233B,
        43rem 2rem #B90F18,
        44rem 2rem white,
        45rem 2rem #B90F18,
        46rem 2rem #1D233B,
        47rem 2rem #B90F18,
    
        40rem 3rem #B90F18,
        41rem 3rem #1D233B,
        42rem 3rem #1D233B,
        43rem 3rem #1D233B,
        44rem 3rem white,
        45rem 3rem #1D233B,
        46rem 3rem #1D233B,
        47rem 3rem #1D233B,
        48rem 3rem #B90F18,
    
        38rem 4rem #B90F18,
        39rem 4rem #B90F18,
        40rem 4rem #1D233B,
        41rem 4rem #1D233B,
        42rem 4rem #1D233B,
        43rem 4rem #1D233B,
        44rem 4rem white,
        45rem 4rem #1D233B,
        46rem 4rem #1D233B,
        47rem 4rem #1D233B,
        48rem 4rem #1D233B,
        49rem 4rem #B90F18,
        50rem 4rem #B90F18,
    
        37rem 5rem #B90F18,
        38rem 5rem #1D233B,
        39rem 5rem #1D233B,
        40rem 5rem #1D233B,
        41rem 5rem #1D233B,
        42rem 5rem #B90F18,
        43rem 5rem #B90F18,
        44rem 5rem white,
        45rem 5rem #B90F18,
        46rem 5rem #B90F18,
        47rem 5rem #1D233B,
        48rem 5rem #1D233B,
        49rem 5rem #1D233B,
        50rem 5rem #1D233B,
        51rem 5rem #B90F18,
    
        36rem 6rem #B90F18,
        37rem 6rem #1D233B,
        38rem 6rem #1D233B,
        39rem 6rem #1D233B,
        40rem 6rem #1D233B,
        41rem 6rem #B90F18,
        42rem 6rem #1D233B,
        43rem 6rem #1D233B,
        44rem 6rem white,
        45rem 6rem #1D233B,
        46rem 6rem #1D233B,
        47rem 6rem #B90F18,
        48rem 6rem #1D233B,
        49rem 6rem #1D233B,
        50rem 6rem #1D233B,
        51rem 6rem #1D233B,
        52rem 6rem #B90F18,
        
        35rem 7rem #B90F18,
        36rem 7rem #1D233B,
        37rem 7rem #1D233B,
        38rem 7rem #1D233B,
        39rem 7rem #1D233B,
        40rem 7rem #B90F18,
        41rem 7rem #B90F18,
        42rem 7rem #B90F18,
        43rem 7rem white,
        44rem 7rem white,
        45rem 7rem white,
        46rem 7rem #B90F18,
        47rem 7rem #B90F18,
        48rem 7rem #B90F18,
        49rem 7rem #1D233B,
        50rem 7rem #1D233B,
        51rem 7rem #1D233B,
        52rem 7rem #1D233B,
        53rem 7rem #B90F18,
    
        35rem 8rem #B90F18,
        36rem 8rem #1D233B,
        37rem 8rem #1D233B,
        38rem 8rem #1D233B,
        39rem 8rem #1D233B,
        40rem 8rem #1D233B,
        41rem 8rem #1D233B,
        42rem 8rem #1D233B,
        43rem 8rem #B90F18,
        44rem 8rem white,
        45rem 8rem #B90F18,
        46rem 8rem #1D233B,
        47rem 8rem #1D233B,
        48rem 8rem #1D233B,
        49rem 8rem #1D233B,
        50rem 8rem #1D233B,
        51rem 8rem #1D233B,
        52rem 8rem #1D233B,
        53rem 8rem #B90F18,
    
        36rem 9rem #B90F18,
        37rem 9rem #B90F18,
        38rem 9rem #B90F18,
        39rem 9rem #1D233B,
        40rem 9rem #1D233B,
        41rem 9rem #1D233B,
        42rem 9rem #B90F18,
        43rem 9rem #1D233B,
        44rem 9rem #1D233B,
        45rem 9rem #1D233B,
        46rem 9rem #B90F18,
        47rem 9rem #1D233B,
        48rem 9rem #1D233B,
        49rem 9rem #1D233B,
        50rem 9rem #B90F18,
        51rem 9rem #B90F18,
        52rem 9rem #B90F18,
    
        38rem 10rem #B90F18,
        39rem 10rem #1D233B,
        40rem 10rem #1D233B,
        41rem 10rem #B90F18,
        42rem 10rem #1D233B,
        43rem 10rem #1D233B,
        44rem 10rem #B90F18,
        45rem 10rem #1D233B,
        46rem 10rem #1D233B,
        47rem 10rem #B90F18,
        48rem 10rem #1D233B,
        49rem 10rem #1D233B,
        50rem 10rem #B90F18,
        
        37rem 11rem #B90F18,
        38rem 11rem #1D233B,
        39rem 11rem #1D233B,
        40rem 11rem #1D233B,
        41rem 11rem #B90F18,
        42rem 11rem #1D233B,
        43rem 11rem #B90F18,
        44rem 11rem #1D233B,
        45rem 11rem #B90F18,
        46rem 11rem #1D233B,
        47rem 11rem #B90F18,
        48rem 11rem #1D233B,
        49rem 11rem #1D233B,
        50rem 11rem #1D233B,
        51rem 11rem #B90F18,
    
        37rem 12rem #B90F18,
        38rem 12rem #1D233B,
        39rem 12rem #1D233B,
        40rem 12rem #B90F18,
        41rem 12rem #1D233B,
        42rem 12rem #1D233B,
        43rem 12rem #1D233B,
        44rem 12rem #B90F18,
        45rem 12rem #1D233B,
        46rem 12rem #1D233B,
        47rem 12rem #1D233B,
        48rem 12rem #B90F18,
        49rem 12rem #1D233B,
        50rem 12rem #1D233B,
        51rem 12rem #B90F18,
    
        38rem 13rem #B90F18,
        39rem 13rem #1D233B,
        40rem 13rem #1D233B,
        41rem 13rem #1D233B,
        42rem 13rem #1D233B,
        43rem 13rem #1D233B,
        44rem 13rem #1D233B,
        45rem 13rem #1D233B,
        46rem 13rem #1D233B,
        47rem 13rem #1D233B,
        48rem 13rem #1D233B,
        49rem 13rem #1D233B,
        50rem 13rem #B90F18,
    
        39rem 14rem #B90F18,
        40rem 14rem #B90F18,
        41rem 14rem #1D233B,
        42rem 14rem #1D233B,
        43rem 14rem #B90F18,
        44rem 14rem #B90F18,
        45rem 14rem #B90F18,
        46rem 14rem #1D233B,
        47rem 14rem #1D233B,
        48rem 14rem #B90F18,
        49rem 14rem #B90F18,
    
        41rem 15rem #B90F18,
        42rem 15rem #B90F18,
        43rem 15rem #1D233B,
        44rem 15rem #1D233B,
        45rem 15rem #1D233B,
        46rem 15rem #B90F18,
        47rem 15rem #B90F18,
    
        40rem 16rem #B90F18,
        41rem 16rem #1D233B,
        42rem 16rem #1D233B,
        43rem 16rem #1D233B,
        44rem 16rem #1D233B,
        45rem 16rem #1D233B,
        46rem 16rem #1D233B,
        47rem 16rem #1D233B,
        48rem 16rem #B90F18,
    
        39rem 17rem #B90F18,
        40rem 17rem #1D233B,
        41rem 17rem #1D233B,
        42rem 17rem #1D233B,
        43rem 17rem #1D233B,
        44rem 17rem #1D233B,
        45rem 17rem #1D233B,
        46rem 17rem #1D233B,
        47rem 17rem #1D233B,
        48rem 17rem #1D233B,
        49rem 17rem #B90F18,
    
        38rem 18rem #B90F18,
        39rem 18rem #1D233B,
        40rem 18rem #1D233B,
        41rem 18rem #1D233B,
        42rem 18rem #1D233B,
        43rem 18rem #1D233B,
        44rem 18rem #1D233B,
        45rem 18rem #1D233B,
        46rem 18rem #1D233B,
        47rem 18rem #1D233B,
        48rem 18rem #1D233B,
        49rem 18rem #1D233B,
        50rem 18rem #B90F18,

        38rem 19rem #B90F18,
        39rem 19rem #1D233B,
        40rem 19rem #1D233B,
        41rem 19rem #B90F18,
        42rem 19rem #B90F18,
        43rem 19rem #1D233B,
        44rem 19rem #1D233B,
        45rem 19rem #1D233B,
        46rem 19rem #B90F18,
        47rem 19rem #B90F18,
        48rem 19rem #1D233B,
        49rem 19rem #1D233B,
        50rem 19rem #B90F18,
        
        38rem 20rem #B90F18,
        39rem 20rem #1D233B,
        40rem 20rem #B90F18,
        41rem 20rem white,
        42rem 20rem white,
        43rem 20rem #B90F18,
        44rem 20rem #1D233B,
        45rem 20rem #B90F18,
        46rem 20rem white,
        47rem 20rem white,
        48rem 20rem #B90F18,
        49rem 20rem #1D233B,
        50rem 20rem #B90F18,
        
        38rem 21rem #B90F18,
        39rem 21rem #1D233B,
        40rem 21rem #B90F18,
        41rem 21rem white,
        42rem 21rem #B90F18,
        43rem 21rem #1D233B,
        44rem 21rem #1D233B,
        45rem 21rem #1D233B,
        46rem 21rem #B90F18,
        47rem 21rem white,
        48rem 21rem #B90F18,
        49rem 21rem #1D233B,
        50rem 21rem #B90F18,
        
        38rem 22rem #B90F18,
        39rem 22rem #1D233B,
        40rem 22rem #B90F18,
        41rem 22rem #B90F18,
        42rem 22rem #1D233B,
        43rem 22rem #1D233B,
        44rem 22rem #1D233B,
        45rem 22rem #1D233B,
        46rem 22rem #1D233B,
        47rem 22rem #B90F18,
        48rem 22rem #B90F18,
        49rem 22rem #1D233B,
        50rem 22rem #B90F18,
        
        38rem 23rem #B90F18,
        39rem 23rem #1D233B,
        40rem 23rem #B90F18,
        41rem 23rem #1D233B,
        42rem 23rem #1D233B,
        43rem 23rem #1D233B,
        44rem 23rem #1D233B,
        45rem 23rem #1D233B,
        46rem 23rem #1D233B,
        47rem 23rem #1D233B,
        48rem 23rem #B90F18,
        49rem 23rem #1D233B,
        50rem 23rem #B90F18,
        
        38rem 24rem #B90F18,
        39rem 24rem #1D233B,
        40rem 24rem #1D233B,
        41rem 24rem #1D233B,
        42rem 24rem #1D233B,
        43rem 24rem #1D233B,
        44rem 24rem #1D233B,
        45rem 24rem #1D233B,
        46rem 24rem #1D233B,
        47rem 24rem #1D233B,
        48rem 24rem #1D233B,
        49rem 24rem #1D233B,
        50rem 24rem #B90F18,
        
        38rem 25rem #B90F18,
        39rem 25rem #1D233B,
        40rem 25rem #1D233B,
        41rem 25rem #1D233B,
        42rem 25rem #1D233B,
        43rem 25rem #1D233B,
        44rem 25rem #1D233B,
        45rem 25rem #1D233B,
        46rem 25rem #1D233B,
        47rem 25rem #1D233B,
        48rem 25rem #1D233B,
        49rem 25rem #1D233B,
        50rem 25rem #B90F18,
    
        39rem 26rem #B90F18,
        40rem 26rem #1D233B,
        41rem 26rem #1D233B,
        42rem 26rem #1D233B,
        43rem 26rem #1D233B,
        44rem 26rem #1D233B,
        45rem 26rem #1D233B,
        46rem 26rem #1D233B,
        47rem 26rem #1D233B,
        48rem 26rem #1D233B,
        49rem 26rem #B90F18,
    
        40rem 27rem #B90F18,
        41rem 27rem #B90F18,
        42rem 27rem #1D233B,
        43rem 27rem #1D233B,
        44rem 27rem #1D233B,
        45rem 27rem #1D233B,
        46rem 27rem #1D233B,
        47rem 27rem #B90F18,
        48rem 27rem #B90F18,
    
        42rem 28rem #B90F18,
        43rem 28rem #B90F18,
        44rem 28rem #B90F18,
        45rem 28rem #B90F18,
        46rem 28rem #B90F18;
    }
    to{
        position: relative;
        top: 10rem;
        box-shadow:

        /*Sentido Aranha - Peter*/
        14rem -1rem white,
        14rem -2rem white,
        14rem -3rem white,
        14rem -4rem white,
        14rem -5rem white,
        14rem -6rem white,
        14rem -7rem white,
        14rem -8rem white,
        14rem -9rem white,
        14rem -10rem white,
    
        7rem 28rem black,
        6rem 29rem black,
        5rem 30rem black,
        6rem 24rem black,
        5rem 25rem black,
        4rem 24rem black,
        3rem 25rem black,
        6rem 20rem black,
        5rem 21rem black,
        4rem 20rem black,
        3rem 21rem black,
        6rem 17rem black,
        5rem 16rem black,
        4rem 17rem black,
        3rem 16rem black,
            
        21rem 28rem black,
        22rem 29rem black,
        23rem 30rem black,
        22rem 24rem black,
        25rem 25rem black,
        24rem 24rem black,
        23rem 25rem black,
        22rem 20rem black,
        25rem 21rem black,
        24rem 20rem black,
        23rem 21rem black,
        22rem 17rem black,
        25rem 16rem black,
        24rem 17rem black,
        23rem 16rem black,

        /*Sentido Aranha - Miles*/

        44rem -1rem white,
        44rem -2rem white,
        44rem -3rem white,
        44rem -4rem white,
        44rem -5rem white,
        44rem -6rem white,
        44rem -7rem white,
        44rem -8rem white,
        44rem -9rem white,
        44rem -10rem white,
    
        37rem 28rem #B90F18,
        36rem 29rem #B90F18,
        35rem 30rem #B90F18,
        36rem 24rem #B90F18,
        35rem 25rem #B90F18,
        34rem 24rem #B90F18,
        33rem 25rem #B90F18,
        36rem 20rem #B90F18,
        35rem 21rem #B90F18,
        34rem 20rem #B90F18,
        33rem 21rem #B90F18,
        36rem 17rem #B90F18,
        35rem 16rem #B90F18,
        34rem 17rem #B90F18,
        33rem 16rem #B90F18,
            
        51rem 28rem #B90F18,
        52rem 29rem #B90F18,
        53rem 30rem #B90F18,
        52rem 24rem #B90F18,
        55rem 25rem #B90F18,
        54rem 24rem #B90F18,
        53rem 25rem #B90F18,
        52rem 20rem #B90F18,
        55rem 21rem #B90F18,
        54rem 20rem #B90F18,
        53rem 21rem #B90F18,
        52rem 17rem #B90F18,
        55rem 16rem #B90F18,
        54rem 17rem #B90F18,
        53rem 16rem #B90F18,

        /*Peter Parker*/
        13rem 0rem black,
        14rem 0rem white,
        15rem 0rem black,
            
        12rem 1rem black,
        13rem 1rem #FC1919,
        14rem 1rem white,
        15rem 1rem #FC1919,
        16rem 1rem black,
        
        11rem 2rem black,
        12rem 2rem #FC1919,
        13rem 2rem #FC1919,
        14rem 2rem white,
        15rem 2rem #FC1919,
        16rem 2rem #FC1919,
        17rem 2rem black,
    
        10rem 3rem black,
        11rem 3rem #FC1919,
        12rem 3rem #FC1919,
        13rem 3rem #FC1919,
        14rem 3rem white,
        15rem 3rem #FC1919,
        16rem 3rem #FC1919,
        17rem 3rem #FC1919,
        18rem 3rem black,
    
        8rem 4rem black,
        9rem 4rem black,
        10rem 4rem #FC1919,
        11rem 4rem #FC1919,
        12rem 4rem #FC1919,
        13rem 4rem #FC1919,
        14rem 4rem white,
        15rem 4rem #FC1919,
        16rem 4rem #FC1919,
        17rem 4rem #FC1919,
        18rem 4rem #FC1919,
        19rem 4rem black,
        20rem 4rem black,
    
        7rem 5rem black,
        8rem 5rem #1F51A6,
        9rem 5rem #FC1919,
        10rem 5rem #FC1919,
        11rem 5rem #FC1919,
        12rem 5rem black,
        13rem 5rem black,
        14rem 5rem white,
        15rem 5rem black,
        16rem 5rem black,
        17rem 5rem #FC1919,
        18rem 5rem #FC1919,
        19rem 5rem #FC1919,
        20rem 5rem #1F51A6,
        21rem 5rem black,
    
        6rem 6rem black,
        7rem 6rem #1F51A6,
        8rem 6rem #1F51A6,
        9rem 6rem #1F51A6,
        10rem 6rem #FC1919,
        11rem 6rem black,
        12rem 6rem #1F51A6,
        13rem 6rem #1F51A6,
        14rem 6rem white,
        15rem 6rem #1F51A6,
        16rem 6rem #1F51A6,
        17rem 6rem black,
        18rem 6rem #FC1919,
        19rem 6rem #1F51A6,
        20rem 6rem #1F51A6,
        21rem 6rem #1F51A6,
        22rem 6rem black,
        
        5rem 7rem black,
        6rem 7rem #1F51A6,
        7rem 7rem #1F51A6,
        8rem 7rem #1F51A6,
        9rem 7rem #1F51A6,
        10rem 7rem black,
        11rem 7rem black,
        12rem 7rem black,
        13rem 7rem white,
        14rem 7rem white,
        15rem 7rem white,
        16rem 7rem black,
        17rem 7rem black,
        18rem 7rem black,
        19rem 7rem #1F51A6,
        20rem 7rem #1F51A6,
        21rem 7rem #1F51A6,
        22rem 7rem #1F51A6,
        23rem 7rem black,
    
        5rem 8rem black,
        6rem 8rem #1F51A6,
        7rem 8rem #1F51A6,
        8rem 8rem #1F51A6,
        9rem 8rem black,
        10rem 8rem #FC1919,
        11rem 8rem #FC1919,
        12rem 8rem #FC1919,
        13rem 8rem black,
        14rem 8rem white,
        15rem 8rem black,
        16rem 8rem #FC1919,
        17rem 8rem #FC1919,
        18rem 8rem #FC1919,
        19rem 8rem #1F51A6,
        20rem 8rem #1F51A6,
        21rem 8rem #1F51A6,
        22rem 8rem #1F51A6,
        23rem 8rem black,
    
        6rem 9rem black,
        7rem 9rem black,
        8rem 9rem black,
        9rem 9rem #FC1919,
        10rem 9rem #FC1919,
        11rem 9rem #FC1919,
        12rem 9rem #FC1919,
        13rem 9rem black,
        14rem 9rem #FC1919,
        15rem 9rem black,
        16rem 9rem #FC1919,
        17rem 9rem #FC1919,
        18rem 9rem #FC1919,
        19rem 9rem #FC1919,
        20rem 9rem black,
        21rem 9rem black,
        22rem 9rem black,
    
        8rem 10rem black,
        9rem 10rem #FC1919,
        10rem 10rem #FC1919,
        11rem 10rem #1F51A6,
        12rem 10rem black,
        13rem 10rem #FC1919,
        14rem 10rem #FC1919,
        15rem 10rem #FC1919,
        16rem 10rem black,
        17rem 10rem #1F51A6,
        18rem 10rem #FC1919,
        19rem 10rem #FC1919,
        20rem 10rem black,
        
        7rem 11rem black,
        8rem 11rem #FC1919,
        9rem 11rem #FC1919,
        10rem 11rem #1F51A6,
        11rem 11rem black,
        12rem 11rem #1F51A6,
        13rem 11rem #FC1919,
        14rem 11rem #FC1919,
        15rem 11rem #FC1919,
        16rem 11rem #1F51A6,
        17rem 11rem black,
        18rem 11rem #1F51A6,
        19rem 11rem #FC1919,
        20rem 11rem #FC1919,
        21rem 11rem black,
    
        7rem 12rem black,
        8rem 12rem #FC1919,
        9rem 12rem #FC1919,
        10rem 12rem black,
        11rem 12rem #1F51A6,
        12rem 12rem #FC1919,
        13rem 12rem #FC1919,
        14rem 12rem black,
        15rem 12rem #FC1919,
        16rem 12rem #FC1919,
        17rem 12rem #1F51A6,
        18rem 12rem black,
        19rem 12rem #FC1919,
        20rem 12rem #FC1919,
        21rem 12rem black,
    
        8rem 13rem black,
        9rem 13rem #FC1919,
        10rem 13rem #FC1919,
        11rem 13rem #FC1919,
        12rem 13rem #FC1919,
        13rem 13rem #FC1919,
        14rem 13rem #FC1919,
        15rem 13rem #FC1919,
        16rem 13rem #FC1919,
        17rem 13rem #FC1919,
        18rem 13rem #FC1919,
        19rem 13rem #FC1919,
        20rem 13rem black,
    
        9rem 14rem black,
        10rem 14rem black,
        11rem 14rem #FC1919,
        12rem 14rem #FC1919,
        13rem 14rem black,
        14rem 14rem black,
        15rem 14rem black,
        16rem 14rem #FC1919,
        17rem 14rem #FC1919,
        18rem 14rem black,
        19rem 14rem black,
    
        11rem 15rem black,
        12rem 15rem black,
        13rem 15rem #FC1919,
        14rem 15rem #FC1919,
        15rem 15rem #FC1919,
        16rem 15rem black,
        17rem 15rem black,
    
        10rem 16rem black,
        11rem 16rem #FC1919,
        12rem 16rem #FC1919,
        13rem 16rem #FC1919,
        14rem 16rem #FC1919,
        15rem 16rem #FC1919,
        16rem 16rem #FC1919,
        17rem 16rem #FC1919,
        18rem 16rem black,
    
        9rem 17rem black,
        10rem 17rem #FC1919,
        11rem 17rem #FC1919,
        12rem 17rem #FC1919,
        13rem 17rem #FC1919,
        14rem 17rem #FC1919,
        15rem 17rem #FC1919,
        16rem 17rem #FC1919,
        17rem 17rem #FC1919,
        18rem 17rem #FC1919,
        19rem 17rem black,
    
        8rem 18rem black,
        9rem 18rem #FC1919,
        10rem 18rem #FC1919,
        11rem 18rem #FC1919,
        12rem 18rem #FC1919,
        13rem 18rem #FC1919,
        14rem 18rem #FC1919,
        15rem 18rem #FC1919,
        16rem 18rem #FC1919,
        17rem 18rem #FC1919,
        18rem 18rem #FC1919,
        19rem 18rem #FC1919,
        20rem 18rem black,
    
        8rem 19rem black,
        9rem 19rem #FC1919,
        10rem 19rem #FC1919,
        11rem 19rem black,
        12rem 19rem black,
        13rem 19rem #FC1919,
        14rem 19rem #FC1919,
        15rem 19rem #FC1919,
        16rem 19rem black,
        17rem 19rem black,
        18rem 19rem #FC1919,
        19rem 19rem #FC1919,
        20rem 19rem black,
        
        8rem 20rem black,
        9rem 20rem #FC1919,
        10rem 20rem black,
        11rem 20rem white,
        12rem 20rem white,
        13rem 20rem black,
        14rem 20rem #FC1919,
        15rem 20rem black,
        16rem 20rem white,
        17rem 20rem white,
        18rem 20rem black,
        19rem 20rem #FC1919,
        20rem 20rem black,
        
        8rem 21rem black,
        9rem 21rem #FC1919,
        10rem 21rem black,
        11rem 21rem white,
        12rem 21rem black,
        13rem 21rem #FC1919,
        14rem 21rem #FC1919,
        15rem 21rem #FC1919,
        16rem 21rem black,
        17rem 21rem white,
        18rem 21rem black,
        19rem 21rem #FC1919,
        20rem 21rem black,
        
        8rem 22rem black,
        9rem 22rem #FC1919,
        10rem 22rem black,
        11rem 22rem black,
        12rem 22rem #FC1919,
        13rem 22rem #FC1919,
        14rem 22rem #FC1919,
        15rem 22rem #FC1919,
        16rem 22rem #FC1919,
        17rem 22rem black,
        18rem 22rem black,
        19rem 22rem #FC1919,
        20rem 22rem black,
        
        8rem 23rem black,
        9rem 23rem #FC1919,
        10rem 23rem black,
        11rem 23rem #FC1919,
        12rem 23rem #FC1919,
        13rem 23rem #FC1919,
        14rem 23rem #FC1919,
        15rem 23rem #FC1919,
        16rem 23rem #FC1919,
        17rem 23rem #FC1919,
        18rem 23rem black,
        19rem 23rem #FC1919,
        20rem 23rem black,
        
        8rem 24rem black,
        9rem 24rem #FC1919,
        10rem 24rem #FC1919,
        11rem 24rem #FC1919,
        12rem 24rem #FC1919,
        13rem 24rem #FC1919,
        14rem 24rem #FC1919,
        15rem 24rem #FC1919,
        16rem 24rem #FC1919,
        17rem 24rem #FC1919,
        18rem 24rem #FC1919,
        19rem 24rem #FC1919,
        20rem 24rem black,
        
        8rem 25rem black,
        9rem 25rem #FC1919,
        10rem 25rem #FC1919,
        11rem 25rem #FC1919,
        12rem 25rem #FC1919,
        13rem 25rem #FC1919,
        14rem 25rem #FC1919,
        15rem 25rem #FC1919,
        16rem 25rem #FC1919,
        17rem 25rem #FC1919,
        18rem 25rem #FC1919,
        19rem 25rem #FC1919,
        20rem 25rem black,
    
        9rem 26rem black,
        10rem 26rem #FC1919,
        11rem 26rem #FC1919,
        12rem 26rem #FC1919,
        13rem 26rem #FC1919,
        14rem 26rem #FC1919,
        15rem 26rem #FC1919,
        16rem 26rem #FC1919,
        17rem 26rem #FC1919,
        18rem 26rem #FC1919,
        19rem 26rem black,
    
        10rem 27rem black,
        11rem 27rem black,
        12rem 27rem #FC1919,
        13rem 27rem #FC1919,
        14rem 27rem #FC1919,
        15rem 27rem #FC1919,
        16rem 27rem #FC1919,
        17rem 27rem black,
        18rem 27rem black,
    
        12rem 28rem black,
        13rem 28rem black,
        14rem 28rem black,
        15rem 28rem black,
        16rem 28rem black,
    
        /*Miles Morales*/

        43rem 0rem #B90F18,
        44rem 0rem white,
        45rem 0rem #B90F18,
            
        42rem 1rem #B90F18,
        43rem 1rem #B90F18,
        44rem 1rem white,
        45rem 1rem #B90F18,
        46rem 1rem #B90F18,
        
        41rem 2rem #B90F18,
        42rem 2rem #1D233B,
        43rem 2rem #B90F18,
        44rem 2rem white,
        45rem 2rem #B90F18,
        46rem 2rem #1D233B,
        47rem 2rem #B90F18,
    
        40rem 3rem #B90F18,
        41rem 3rem #1D233B,
        42rem 3rem #1D233B,
        43rem 3rem #1D233B,
        44rem 3rem white,
        45rem 3rem #1D233B,
        46rem 3rem #1D233B,
        47rem 3rem #1D233B,
        48rem 3rem #B90F18,
    
        38rem 4rem #B90F18,
        39rem 4rem #B90F18,
        40rem 4rem #1D233B,
        41rem 4rem #1D233B,
        42rem 4rem #1D233B,
        43rem 4rem #1D233B,
        44rem 4rem white,
        45rem 4rem #1D233B,
        46rem 4rem #1D233B,
        47rem 4rem #1D233B,
        48rem 4rem #1D233B,
        49rem 4rem #B90F18,
        50rem 4rem #B90F18,
    
        37rem 5rem #B90F18,
        38rem 5rem #1D233B,
        39rem 5rem #1D233B,
        40rem 5rem #1D233B,
        41rem 5rem #1D233B,
        42rem 5rem #B90F18,
        43rem 5rem #B90F18,
        44rem 5rem white,
        45rem 5rem #B90F18,
        46rem 5rem #B90F18,
        47rem 5rem #1D233B,
        48rem 5rem #1D233B,
        49rem 5rem #1D233B,
        50rem 5rem #1D233B,
        51rem 5rem #B90F18,
    
        36rem 6rem #B90F18,
        37rem 6rem #1D233B,
        38rem 6rem #1D233B,
        39rem 6rem #1D233B,
        40rem 6rem #1D233B,
        41rem 6rem #B90F18,
        42rem 6rem #1D233B,
        43rem 6rem #1D233B,
        44rem 6rem white,
        45rem 6rem #1D233B,
        46rem 6rem #1D233B,
        47rem 6rem #B90F18,
        48rem 6rem #1D233B,
        49rem 6rem #1D233B,
        50rem 6rem #1D233B,
        51rem 6rem #1D233B,
        52rem 6rem #B90F18,
        
        35rem 7rem #B90F18,
        36rem 7rem #1D233B,
        37rem 7rem #1D233B,
        38rem 7rem #1D233B,
        39rem 7rem #1D233B,
        40rem 7rem #B90F18,
        41rem 7rem #B90F18,
        42rem 7rem #B90F18,
        43rem 7rem white,
        44rem 7rem white,
        45rem 7rem white,
        46rem 7rem #B90F18,
        47rem 7rem #B90F18,
        48rem 7rem #B90F18,
        49rem 7rem #1D233B,
        50rem 7rem #1D233B,
        51rem 7rem #1D233B,
        52rem 7rem #1D233B,
        53rem 7rem #B90F18,
    
        35rem 8rem #B90F18,
        36rem 8rem #1D233B,
        37rem 8rem #1D233B,
        38rem 8rem #1D233B,
        39rem 8rem #1D233B,
        40rem 8rem #1D233B,
        41rem 8rem #1D233B,
        42rem 8rem #1D233B,
        43rem 8rem #B90F18,
        44rem 8rem white,
        45rem 8rem #B90F18,
        46rem 8rem #1D233B,
        47rem 8rem #1D233B,
        48rem 8rem #1D233B,
        49rem 8rem #1D233B,
        50rem 8rem #1D233B,
        51rem 8rem #1D233B,
        52rem 8rem #1D233B,
        53rem 8rem #B90F18,
    
        36rem 9rem #B90F18,
        37rem 9rem #B90F18,
        38rem 9rem #B90F18,
        39rem 9rem #1D233B,
        40rem 9rem #1D233B,
        41rem 9rem #1D233B,
        42rem 9rem #B90F18,
        43rem 9rem #1D233B,
        44rem 9rem #1D233B,
        45rem 9rem #1D233B,
        46rem 9rem #B90F18,
        47rem 9rem #1D233B,
        48rem 9rem #1D233B,
        49rem 9rem #1D233B,
        50rem 9rem #B90F18,
        51rem 9rem #B90F18,
        52rem 9rem #B90F18,
    
        38rem 10rem #B90F18,
        39rem 10rem #1D233B,
        40rem 10rem #1D233B,
        41rem 10rem #B90F18,
        42rem 10rem #1D233B,
        43rem 10rem #1D233B,
        44rem 10rem #B90F18,
        45rem 10rem #1D233B,
        46rem 10rem #1D233B,
        47rem 10rem #B90F18,
        48rem 10rem #1D233B,
        49rem 10rem #1D233B,
        50rem 10rem #B90F18,
        
        37rem 11rem #B90F18,
        38rem 11rem #1D233B,
        39rem 11rem #1D233B,
        40rem 11rem #1D233B,
        41rem 11rem #B90F18,
        42rem 11rem #1D233B,
        43rem 11rem #B90F18,
        44rem 11rem #1D233B,
        45rem 11rem #B90F18,
        46rem 11rem #1D233B,
        47rem 11rem #B90F18,
        48rem 11rem #1D233B,
        49rem 11rem #1D233B,
        50rem 11rem #1D233B,
        51rem 11rem #B90F18,
    
        37rem 12rem #B90F18,
        38rem 12rem #1D233B,
        39rem 12rem #1D233B,
        40rem 12rem #B90F18,
        41rem 12rem #1D233B,
        42rem 12rem #1D233B,
        43rem 12rem #1D233B,
        44rem 12rem #B90F18,
        45rem 12rem #1D233B,
        46rem 12rem #1D233B,
        47rem 12rem #1D233B,
        48rem 12rem #B90F18,
        49rem 12rem #1D233B,
        50rem 12rem #1D233B,
        51rem 12rem #B90F18,
    
        38rem 13rem #B90F18,
        39rem 13rem #1D233B,
        40rem 13rem #1D233B,
        41rem 13rem #1D233B,
        42rem 13rem #1D233B,
        43rem 13rem #1D233B,
        44rem 13rem #1D233B,
        45rem 13rem #1D233B,
        46rem 13rem #1D233B,
        47rem 13rem #1D233B,
        48rem 13rem #1D233B,
        49rem 13rem #1D233B,
        50rem 13rem #B90F18,
    
        39rem 14rem #B90F18,
        40rem 14rem #B90F18,
        41rem 14rem #1D233B,
        42rem 14rem #1D233B,
        43rem 14rem #B90F18,
        44rem 14rem #B90F18,
        45rem 14rem #B90F18,
        46rem 14rem #1D233B,
        47rem 14rem #1D233B,
        48rem 14rem #B90F18,
        49rem 14rem #B90F18,
    
        41rem 15rem #B90F18,
        42rem 15rem #B90F18,
        43rem 15rem #1D233B,
        44rem 15rem #1D233B,
        45rem 15rem #1D233B,
        46rem 15rem #B90F18,
        47rem 15rem #B90F18,
    
        40rem 16rem #B90F18,
        41rem 16rem #1D233B,
        42rem 16rem #1D233B,
        43rem 16rem #1D233B,
        44rem 16rem #1D233B,
        45rem 16rem #1D233B,
        46rem 16rem #1D233B,
        47rem 16rem #1D233B,
        48rem 16rem #B90F18,
    
        39rem 17rem #B90F18,
        40rem 17rem #1D233B,
        41rem 17rem #1D233B,
        42rem 17rem #1D233B,
        43rem 17rem #1D233B,
        44rem 17rem #1D233B,
        45rem 17rem #1D233B,
        46rem 17rem #1D233B,
        47rem 17rem #1D233B,
        48rem 17rem #1D233B,
        49rem 17rem #B90F18,
    
        38rem 18rem #B90F18,
        39rem 18rem #1D233B,
        40rem 18rem #1D233B,
        41rem 18rem #1D233B,
        42rem 18rem #1D233B,
        43rem 18rem #1D233B,
        44rem 18rem #1D233B,
        45rem 18rem #1D233B,
        46rem 18rem #1D233B,
        47rem 18rem #1D233B,
        48rem 18rem #1D233B,
        49rem 18rem #1D233B,
        50rem 18rem #B90F18,

        38rem 19rem #B90F18,
        39rem 19rem #1D233B,
        40rem 19rem #1D233B,
        41rem 19rem #B90F18,
        42rem 19rem #B90F18,
        43rem 19rem #1D233B,
        44rem 19rem #1D233B,
        45rem 19rem #1D233B,
        46rem 19rem #B90F18,
        47rem 19rem #B90F18,
        48rem 19rem #1D233B,
        49rem 19rem #1D233B,
        50rem 19rem #B90F18,
        
        38rem 20rem #B90F18,
        39rem 20rem #1D233B,
        40rem 20rem #B90F18,
        41rem 20rem white,
        42rem 20rem white,
        43rem 20rem #B90F18,
        44rem 20rem #1D233B,
        45rem 20rem #B90F18,
        46rem 20rem white,
        47rem 20rem white,
        48rem 20rem #B90F18,
        49rem 20rem #1D233B,
        50rem 20rem #B90F18,
        
        38rem 21rem #B90F18,
        39rem 21rem #1D233B,
        40rem 21rem #B90F18,
        41rem 21rem white,
        42rem 21rem #B90F18,
        43rem 21rem #1D233B,
        44rem 21rem #1D233B,
        45rem 21rem #1D233B,
        46rem 21rem #B90F18,
        47rem 21rem white,
        48rem 21rem #B90F18,
        49rem 21rem #1D233B,
        50rem 21rem #B90F18,
        
        38rem 22rem #B90F18,
        39rem 22rem #1D233B,
        40rem 22rem #B90F18,
        41rem 22rem #B90F18,
        42rem 22rem #1D233B,
        43rem 22rem #1D233B,
        44rem 22rem #1D233B,
        45rem 22rem #1D233B,
        46rem 22rem #1D233B,
        47rem 22rem #B90F18,
        48rem 22rem #B90F18,
        49rem 22rem #1D233B,
        50rem 22rem #B90F18,
        
        38rem 23rem #B90F18,
        39rem 23rem #1D233B,
        40rem 23rem #B90F18,
        41rem 23rem #1D233B,
        42rem 23rem #1D233B,
        43rem 23rem #1D233B,
        44rem 23rem #1D233B,
        45rem 23rem #1D233B,
        46rem 23rem #1D233B,
        47rem 23rem #1D233B,
        48rem 23rem #B90F18,
        49rem 23rem #1D233B,
        50rem 23rem #B90F18,
        
        38rem 24rem #B90F18,
        39rem 24rem #1D233B,
        40rem 24rem #1D233B,
        41rem 24rem #1D233B,
        42rem 24rem #1D233B,
        43rem 24rem #1D233B,
        44rem 24rem #1D233B,
        45rem 24rem #1D233B,
        46rem 24rem #1D233B,
        47rem 24rem #1D233B,
        48rem 24rem #1D233B,
        49rem 24rem #1D233B,
        50rem 24rem #B90F18,
        
        38rem 25rem #B90F18,
        39rem 25rem #1D233B,
        40rem 25rem #1D233B,
        41rem 25rem #1D233B,
        42rem 25rem #1D233B,
        43rem 25rem #1D233B,
        44rem 25rem #1D233B,
        45rem 25rem #1D233B,
        46rem 25rem #1D233B,
        47rem 25rem #1D233B,
        48rem 25rem #1D233B,
        49rem 25rem #1D233B,
        50rem 25rem #B90F18,
    
        39rem 26rem #B90F18,
        40rem 26rem #1D233B,
        41rem 26rem #1D233B,
        42rem 26rem #1D233B,
        43rem 26rem #1D233B,
        44rem 26rem #1D233B,
        45rem 26rem #1D233B,
        46rem 26rem #1D233B,
        47rem 26rem #1D233B,
        48rem 26rem #1D233B,
        49rem 26rem #B90F18,
    
        40rem 27rem #B90F18,
        41rem 27rem #B90F18,
        42rem 27rem #1D233B,
        43rem 27rem #1D233B,
        44rem 27rem #1D233B,
        45rem 27rem #1D233B,
        46rem 27rem #1D233B,
        47rem 27rem #B90F18,
        48rem 27rem #B90F18,
    
        42rem 28rem #B90F18,
        43rem 28rem #B90F18,
        44rem 28rem #B90F18,
        45rem 28rem #B90F18,
        46rem 28rem #B90F18;
    }
}

.art{
    animation-name: animacao-teia;
    animation-duration: 0.5s;
    animation-iteration-count: 10000;
    animation-direction: alternate;
    width: 1rem;
    height: 1rem;

}